body {
    background-color: #ffffff;
}

label_profile {
    display: inline-block;
    margin-left: 50px;
    margin-top: 25px;
    width: 200px;
    text-align: right;
    font-size: large;
}

label2_dashboard {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
    font-size: larger;
}