.navbar_profile {
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    background-image: linear-gradient(#1761a7da, #BC3A80da);
}

#grad {
    margin-top: -30px;
    height: 150px;
    background-image: linear-gradient(#1761a7da, #BC3A80da);
}