@import "index.scss";

.admin {
    h2 {
        margin: 20px;
    }

    .add_button {
        margin: 20px;
        font-size: larger;
        font-weight: bold;
        width: max-content;
    }
}
