@import './settings.scss';
@import 'index.scss';

.form {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 10px;
    }

    .submit {
        @extend button;
        width: 150px;
    }

    .section {
        margin: 10px;
        width: 50%;
        padding: 10px;
        border-radius: 15px;
        border-color: $theme_primary;

        .title {
            padding: 10px;
            color: $theme_primary;
            border-radius: 10px;
            border-bottom: 4px solid $theme_primary;
        }
    }

    .field {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .field_error {
        display: flex;
        flex-direction: column;
        padding: 20px;
        color: red;

        input {
            border-color: red;
        }
    }
}