@import "./settings.scss";

.header {
    background-color: $color;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;

    a {
        color: white;
        text-decoration: none;
    }
}
