@import "./settings.scss";

.header {
    background-color: $color;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    color: white;
    display: flex;
    flex: wrap;
    flex-direction: column;

    a {
        color: white;
        text-decoration: none;
    }

    .administration {
        padding-right: 20px;
        font-size: 16pt;
    }
}
