@import "./settings.scss";

.header {
    background-color: $theme_primary;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $theme_light;

    a {
        color: $theme_light;
        text-decoration: none;
    }
}