@import "./settings.scss";
@import "index.scss";

.lecture {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 10px;
    }

    .definition {
        margin: 10px;
        width: 50%;
        padding: 10px;
        border-radius: 15px;
        border-color: $theme_primary;
        background-color: rgba($theme_primary, 0.1);

        .title {
            padding: 10px;
            color: $theme_primary;
            border-radius: 10px;
            border-bottom: 4px solid $theme_primary;
        }

        p {
            padding: 10px;
            margin: 10px;
        }

        a {
            text-decoration: none;
        }
    }
}