@import "index.scss";

.lectures {
    a {
        text-decoration: none;
    }

    h3 {
        background-color: $theme_primary;
        border-radius: 15px;
        color: $theme_light;
        padding: 10px;
    }
}