@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

$theme_primary: #3066BE;
$theme_secondary: #FAA916;
$theme_accent: #A22C29;
$theme_light: #F9F5FF;
$theme_dark: #28262C;
$font: "Open Sans", sans-serif;